body {
    background-color: #001f3f;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    color: #ffffff;
}

h2 {
    text-align: center;
    color: #ffffff;
}

img {
    display: block;
    margin: 0 auto;
}

table.dataframe {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

table.dataframe, th, td {
    border: 2px solid #dddddd;
    padding: 10px;
}

th, td {
    background-color: transparent;
}

.growth-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
}

.growth-table {
    width: 80%;
}

.income-container, .executive-summery-container {
    text-align: center;
}

.income-box, .executive-summery-box {
    display: inline-block;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2em;
}

.btn-group {
    text-align: center;
    margin-top: 20px;
}
